@model SkrzypekjanShop.Models.Product

@{
    ViewData["Title"] = "Message";
}

<h1>Thank you for shopping in our store!</h1>

<div>
    <h4>
        This website is for educational purposes only. You won't buy these items here, but it shows how a online-shop works.
    </h4>
</div>
<div>
    <a class="btn btn-warning" asp-controller="Product" asp-action="Index">Back to List</a>
</div>
